body {
    background-color: rgb(244, 241, 222);
    padding: 1%;
}

h1 {
    font-family: inherit;
    color: rgb(61, 64, 91);
}
#desc-pessoal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 35%;
    right: 5%;
}
/* .listas{
    font-size: 40px;
} */
ul li {
    font-size: 20px;
}

ul li:nth-child(odd) {
    background-color: rgb(61, 64, 91);
}

h1 {
    text-align: center;
}

#foto-pessoal {
    float: left;
    height: 430px;
    padding: 10px;
    background-color: rgb(61, 64, 91);
}

.image-container {
    height: 450px;
    position: relative;
}
/* div {
    border: 2px solid green;
} */